#map
{
    width: 100%;
    height: 100%;
}

#cctvMaps .css-simple-marker {
    background:red;
    border:5px solid rgba(255,255,255,0.5);
    color:blue;
    font-weight:bold;
    text-align:center;
    border-radius:50%;
    line-height:30px;
}

/* DAUM MAP API BEGIN */
#cctvMaps .radius_border{border:1px solid #919191;border-radius:5px;}     

/* type Control */
#cctvMaps .custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
#cctvMaps .custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
#cctvMaps .custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
#cctvMaps .custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
#cctvMaps .custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
#cctvMaps .custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
#cctvMaps .custom_typecontrol .selected_btn:hover {color:#fff;}   

/* zoom Control */
#cctvMaps .custom_zoomcontrol {position:absolute;top:58px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
#cctvMaps .custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
#cctvMaps .custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
#cctvMaps .custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

#cctvMaps .filterControl { direction: ltr; overflow: hidden; text-align: center; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); min-width: 22px; font-weight: 500;}
#cctvMaps .publicFilterPositionFix {top:10px; left:112px; width:40px; height: 40px; position: absolute; padding-top:10px;}
#cctvMaps .filterPublicInActive {background-color : #e25e46; color: white;}
#cctvMaps .privateFilterPositionFix {top:10px; left:150px; width:40px; height: 40px; position: absolute; padding-top:10px;}
#cctvMaps .filterPrivateInActive {background-color : #6759fc; color: white;}


/* zoom Control */
#cctvMaps .watchPositionControl { direction: ltr; overflow: hidden; text-align: center; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); min-width: 22px; font-weight: 500;}
#cctvMaps .watchPositionFix {top:8px; right:10px; width:40px; height: 40px; position: absolute; }

/* mapInfo Control */
#cctvMaps .custom_mapinfocontrol {
    position:absolute; 
    bottom:10px; 
    left:10px; 
    /*width:220px; 
    height:140px; 
    */

    width: 85%;
    height: 40%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;    
    overflow:hidden;    /* 내용이 넘치지 않게 */
    z-index:1;          /* map 위로 올리기 위해 사용 */
    background:rgba(210,210,240,0.7);    /* RGB + 투명도 */
    pointer-events: none;    /* 컨트롤이 마우스/터치 이벤트를 뺏지 않도록 한다 */
    font-size: 80%;
    line-height: 120%;
}


/* DAUM MAP API END */

.cctv-map-searchbar {
    border: 3px solid white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: #B5EFEF  !important;
    border-radius: 50px  !important;
    height: 20px !important;
    width: 100% !important;
}

.cctv-map-searchbar-inactive {
    color : #15eceb !important;
}

.cctv-map-searchbar-active {
    color : white !important;
}

.cctv-detail-item {
    padding: 10px 15px 10px 15px !important;
}

.cctv-image-thumb {
	width: 100%;
	height: 0;
	padding: 50% 0 50% 0;

	display: flex;
    align-items: center; 
    justify-content: center;
    
    font-size: 110%;
    
    overflow: hidden;
    position: relative;    

    /*background-color: yellow;*/
    /*z-index: 2;*/
}


.cctv-image-thumb img {

    position: absolute;
    
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;

    margin: auto;   
    
    min-height: 100%;
    min-width: 100%; 

}

.cctv-image-thumb-main {
    z-index: 6;
}

.cctv-image-thumb-front {
    font-weight: bold;
    position: relative;
    z-index: 5;
    
}
.cctv-image-thumb-back {
    position: relative;
    z-index: 4;
    opacity: 0.3;
}

.cctv-image-thumb2-card {
	width: 160px;
	/*display: inline;*/
}

.cctv-image-thumb2 {
	width: 160px;
/*	height: 240px;*/

	display: flex;
    align-items: center; 
    justify-content: center;
    
    font-size: 115%;
    
    overflow: hidden;
    position: relative;    

    /*background-color: yellow;*/
}

.cctv-detail-header {
    background-color: blue;
}

.cctv-detail-photo {
    max-height: 300px;
}



.cctv-info-footer {
    border-radius: 3px; 
    /*margin-bottom: 12px;*/
    position:absolute; 
    bottom:25px; 
    left:10px; 
    width: 80%;
    max-width: 500px;
    border: 1px solid #ccc; 
    border-bottom: 2px solid #ddd;
    background-color:#fff;
}

.cctv-info-footer:nth-of-type(n) {
    border:0; box-shadow: 0px 1px 2px #888;
}

.cctv-info-footer a {
    display: block; 
    background: #d95050; 
    background: #d95050 url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) 
    no-repeat right 14px center; 
    text-decoration: none; 
    color: #fff; 
    padding: 8px 12px;
    font-size: 14px; 
    border-radius: 3px 3px 0 0;
}
/*
.cctv-info-footer a strong {
    background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/place_icon.png) no-repeat; 
    padding-left: 27px;
}
*/
.cctv-info-footer .desc {
    padding:14px;
    position: relative; 
    min-width: 190px; 
    height: 56px
}

.cctv-info-footer img {
    vertical-align: top;
}

.cctv-info-footer .address {
    font-size: 14px; 
    color: #333; 
    position: absolute; 
    left: 60px; 
    right: 14px; 
    top: 7px; 
    white-space: normal
}



/*
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/
