#map
{
    width: 100%;
    height: 100%;
}

#cctvMaps .css-simple-marker {
    background:red;
    border:5px solid rgba(255,255,255,0.5);
    color:blue;
    font-weight:bold;
    text-align:center;
    border-radius:50%;
    line-height:30px;
}

/* DAUM MAP API BEGIN */
#cctvMaps .radius_border{border:1px solid #919191;border-radius:5px;}     

/* type Control */
#cctvMaps .custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
#cctvMaps .custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
#cctvMaps .custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
#cctvMaps .custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
#cctvMaps .custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
#cctvMaps .custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
#cctvMaps .custom_typecontrol .selected_btn:hover {color:#fff;}   

/* zoom Control */
#cctvMaps .custom_zoomcontrol {position:absolute;top:58px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
#cctvMaps .custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
#cctvMaps .custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
#cctvMaps .custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

#cctvMaps .filterControl { direction: ltr; overflow: hidden; text-align: center; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); min-width: 22px; font-weight: 500;}
#cctvMaps .publicFilterPositionFix {top:10px; left:112px; width:40px; height: 40px; position: absolute;}
#cctvMaps .filterPublicInActive {background-color : #5b94ff; color: white;}
#cctvMaps .privateFilterPositionFix {top:10px; left:150px; width:40px; height: 40px; position: absolute;}
#cctvMaps .filterPrivateInActive {background-color : #ab94ff; color: white;}


/* zoom Control */
#cctvMaps .watchPositionControl { direction: ltr; overflow: hidden; text-align: center; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); min-width: 22px; font-weight: 500;}
#cctvMaps .watchPositionFix {top:8px; right:10px; width:40px; height: 40px; position: absolute; }

/* mapInfo Control */
#cctvMaps .custom_mapinfocontrol {
    position:absolute; 
    bottom:10px; 
    left:10px; 
    /*width:220px; 
    height:140px; 
    */

    width: 85%;
    height: 40%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;    
    overflow:hidden;    /* 내용이 넘치지 않게 */
    z-index:1;          /* map 위로 올리기 위해 사용 */
    background:rgba(210,210,240,0.7);    /* RGB + 투명도 */
    pointer-events: none;    /* 컨트롤이 마우스/터치 이벤트를 뺏지 않도록 한다 */
    font-size: 80%;
    line-height: 120%;
}


/* DAUM MAP API END */

.cctv-map-searchbar {
    border: 3px solid white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: #B5EFEF  !important;
    border-radius: 50px  !important;
    height: 20px !important;
    width: 100% !important;
}

.cctv-map-searchbar-inactive {
    color : #15eceb !important;
}

.cctv-map-searchbar-active {
    color : white !important;
}

.cctv-detail-item {
    padding: 10px 15px 10px 15px !important;
}

div.cctv-image-thumb {
    height: 160px;
    width: 160px;
}

div.cctv-image-thumb2 {
    height: 160px;
    width: 160px;
}