/* Empty. Add your own CSS if you like */
textarea#devel_log {
	width: 100%;
	height: 240px;
	border: 1px solid #cccccc;
	padding: 5px;
}

.detail_list {
	vertical-align: bottom;
	font-size: 80%;
}

.detail_name {
	padding-right: 15px;
	color: #666666;
}

.cctv-text-center {
	text-align: center;
}

.cctv-text-right {
	text-align: right;
}

.cctv-text-left {
	text-align: left;
}

.big-login-photo-area {
	border : solid 2px;
	border-color: deepskyblue;
	width: 100%;
	height: 170px;
	text-align: center;
	padding : 10px;
}

.scroll-content > .scroll {
	height: 100%;
}
.scroll-content > .scroll > iframe {
	min-height: 100%;
}

.background-trans {
	background-color: rgba( 255, 255, 255, 0 );
}

.pull-right {
  float: right;
}

.cctv-round-button {
	width: 36px;
	height: 40px;
	text-align: left;
	border-radius:  100%;
	padding-left : -10px;
}

.toast {
	top : 80% !important;
	border-radius: 10%;
	font-weight: 200;
	text-align: center;
}

.watchPositionActive {
	background-color: blue !important;
	color: white !important;
}

.bg-common-app-color {
	background-color : #15cfce !important;
	color : white !important;
}

.bg-input-box-highlight {
	background-color : #CAFFFC;
}

.cctv-menu-item {
	border: 0px;
	background-color : #15cfce !important;
}

.cctv-menu-box-shadow {
	box-shadow: 3px 3px 8px 10px gray inset;
}