<ion-modal-view view-title="CCTV 세부정보">
  <ion-header-bar class="bg-common-app-color">
    <h1 class="title" style="color: white;">CCTV detail</h1>
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="closeCctvDetail()"><i class="icon ion-android-cancel" style="color: white;"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-if="cctvSelected.cctv.source == 'PUBLIC'">
      <ion-list>
        <!--
        <ion-item class="item-thumbnail-center">

          <img src="https://pixabay.com/static/uploads/photo/2015/07/07/10/15/10-15-05-776_640.jpg">
        </ion-item>
        -->
        <ion-item class="item-divider">세부정보</ion-item>

        <ion-item>
          <p>설치타입</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.source == 'PUBLIC' ? "공공기관 CCTV" : "사설 CCTV"}}</h2>
        </ion-item>

        <ion-item>
          <p>목적</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.purpose}}</h2>
        </ion-item>

        <ion-item>
          <p>주소</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.address}}</h2>
        </ion-item>

      </ion-list>
    </div>
    

    <div ng-if="cctvSelected.cctv.source == 'PRIVATE'">
      <ion-list>
        <ion-item class="item-thumbnail-center">

          <img ng-src="{{cctvSelected.cctv.cctvImage}}">
        </ion-item>
        <ion-item class="item-divider">세부정보</ion-item>

        <ion-item>
          <p>설치타입</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.source == 'PUBLIC' ? "공공기관 CCTV" : "사설 CCTV"}}</h2>
        </ion-item>

        <ion-item>
          <p>목적</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.purpose}}</h2>
        </ion-item>

        <ion-item>
          <p>주소</p>
          &nbsp;&nbsp;
          <h2 class="cctv-app-font">{{cctvSelected.cctv.address}}</h2>
        </ion-item>

      </ion-list>
    </div>    
  </ion-content>
</ion-modal-view>