<ion-modal-view view-title="CCTV 세부정보">
  <ion-header-bar class="bg-common-app-color">
    <h1 class="title" style="color: white;">CCTV 상세정보 확인</h1>
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="closeCctvDetail()"><i class="icon ion-android-cancel" style="color: white;"></i></button>
    </div>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div ng-if="cctvSelected.cctv.source == 'PUBLIC'">
      <ion-list>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>출처</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.source == 'PUBLIC' ? "공공기관 CCTV" : "사설 CCTV"}} ({{ cctvSelected.cctv.borough }})</h2>
        </ion-item>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>주소</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.address}}</h2>
        </ion-item>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>목적</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.purpose ? cctvSelected.cctv.purpose : detail.noDataText }}</h2>
        </ion-item>
        
        <ion-item class="item-text-wrap cctv-detail-item">
          <p>촬영범위</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.range ? cctvSelected.cctv.range : detail.noDataText }}</h2>
        </ion-item>
        
        <ion-item class="item-text-wrap cctv-detail-item">
          <p>해상도</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.pixel ? cctvSelected.cctv.pixel : detail.noDataText }}</h2>
        </ion-item>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>형태</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.form ? cctvSelected.cctv.form : detail.noDataText }}</h2>
        </ion-item>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>설치년도</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.installedAt ? cctvSelected.cctv.installedAt : detail.noDataText }}</h2>
        </ion-item>

        <ion-item class="item-text-wrap cctv-detail-item">
          <p>관리부서</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.department ? cctvSelected.cctv.department : detail.noDataText }}</h2>
        </ion-item>
        
      </ion-list>
    </div>
    

    <div ng-if="cctvSelected.cctv.source == 'PRIVATE'">
      <ion-list>
        
        <ion-item class="item-text-wrap cctv-detail-item">
          <p>출처</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.source == 'PUBLIC' ? "공공기관 CCTV" : "민간 CCTV"}}</h2>
        </ion-item>


        <ion-item class="item-text-wrap cctv-detail-item">
          <p>주소</p>
          <h2 class="cctv-app-font">{{cctvSelected.cctv.address}}</h2>
        </ion-item>

        <ion-item class="item item-image">
          <div class="list card">
            <div class="item item-divider" ng-show="cctvImageFactory.widthImages == 0">
              <h2>CCTV/안내판</h2>
            </div>
            <div class="item item-divider" ng-show="cctvImageFactory.widthImages != 0">
              <h2>CCTV</h2>
            </div>
            <div class="info-image">
              <img ng-src="{{cctvSelected.cctv.cctvImage}}">
            </div>
            <div class="item item-divider" ng-show="cctvImageFactory.widthImages != 0">
              <h2>안내판</h2>
            </div>
            <div class="info-image">
              <img ng-src="{{cctvSelected.cctv.noticeImage}}">
            </div>
          </div>
        </ion-item>
        
      </ion-list>
    </div>    
  </ion-content>
</ion-modal-view>