<ion-view title="CCTV 관련법" data-ng-init="init()">
    <ion-content padding="true" class="has-header">
        <ul class="list">
            <li class="item item-divider" ng-click="LAW_SWITCH_01 = !LAW_SWITCH_01">
                <span ><strong>제 1 헌법 (1)</strong></span><br />

            </li>
            <li class="item item-text-wrap" ng-show="LAW_SWITCH_01 === true">
                헌법 제1조 제2항은 “대한민국의 주권은 국민에게 있고 모든 권력은 국민으로부터 나온다.”고 규정하여 국민주권주의를 천명하고 있다. 이러한 국민주권의 원리는 일반적으로 어떤 실천적인 의미보다는 국가권력의 정당성이 국민에게 있고 모든 통치권력의 행사를 최후적으로 국민의 의사에 귀착시킬 수 있어야 한다는 등 국가권력 내지 통치권을 정당화하는 원리로 이해되고, 선거운동의 자유의 근거인 선거제도나 죄형법정주의 등 헌법상의 제도나 원칙의 근거로 작용하고 있다
            </li>
            <li class="item item-divider" ng-click="LAW_SWITCH_02 = !LAW_SWITCH_02">
                <span ><strong>제 1 헌법 (2)</strong></span><br />

            </li>
            <li class="item item-text-wrap" ng-show="LAW_SWITCH_02 === true">
                헌법 제1조 제2항은 “대한민국의 주권은 국민에게 있고 모든 권력은 국민으로부터 나온다.”고 규정하여 국민주권주의를 천명하고 있다. 이러한 국민주권의 원리는 일반적으로 어떤 실천적인 의미보다는 국가권력의 정당성이 국민에게 있고 모든 통치권력의 행사를 최후적으로 국민의 의사에 귀착시킬 수 있어야 한다는 등 국가권력 내지 통치권을 정당화하는 원리로 이해되고, 선거운동의 자유의 근거인 선거제도나 죄형법정주의 등 헌법상의 제도나 원칙의 근거로 작용하고 있다
            </li>
            <li class="item item-divider" ng-click="LAW_SWITCH_03 = !LAW_SWITCH_03">
                <span ><strong>제 1 헌법 (3)</strong></span><br />

            </li>
            <li class="item item-text-wrap" ng-show="LAW_SWITCH_03 === true">
                헌법 제1조 제2항은 “대한민국의 주권은 국민에게 있고 모든 권력은 국민으로부터 나온다.”고 규정하여 국민주권주의를 천명하고 있다. 이러한 국민주권의 원리는 일반적으로 어떤 실천적인 의미보다는 국가권력의 정당성이 국민에게 있고 모든 통치권력의 행사를 최후적으로 국민의 의사에 귀착시킬 수 있어야 한다는 등 국가권력 내지 통치권을 정당화하는 원리로 이해되고, 선거운동의 자유의 근거인 선거제도나 죄형법정주의 등 헌법상의 제도나 원칙의 근거로 작용하고 있다
            </li>
            <li class="item item-divider" ng-click="LAW_SWITCH_04 = !LAW_SWITCH_04">
                <span ><strong>제 1 헌법 (4)</strong></span><br />

            </li>
            <li class="item item-text-wrap" ng-show="LAW_SWITCH_04 === true">
                헌법 제1조 제2항은 “대한민국의 주권은 국민에게 있고 모든 권력은 국민으로부터 나온다.”고 규정하여 국민주권주의를 천명하고 있다. 이러한 국민주권의 원리는 일반적으로 어떤 실천적인 의미보다는 국가권력의 정당성이 국민에게 있고 모든 통치권력의 행사를 최후적으로 국민의 의사에 귀착시킬 수 있어야 한다는 등 국가권력 내지 통치권을 정당화하는 원리로 이해되고, 선거운동의 자유의 근거인 선거제도나 죄형법정주의 등 헌법상의 제도나 원칙의 근거로 작용하고 있다
            </li>
        </ul>
    </ion-content>
</ion-view>


