<ion-view view-title="CCTV 등록 확인용 화면">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">촬영된 CCTV</ion-item>
      <ion-item class="item cctv-text-center">
        <img style="width: 100%;" src="{{lastCctvPhoto}}">
      </ion-item>

      <ion-item class="item-divider">세부정보</ion-item>
      <ion-item>
        <p>목적</p>
        <h2 ng-repeat="p in purposeForReport" ng-show="p.checked">{{p.text}}</h2>
      </ion-item>

      <ion-item>
        <p>주소</p>
        <h2>{{currentAddress}}</h2>
      </ion-item>

      <ion-item class="item-divider">안내판 내용</ion-item>
      <ion-item class="item cctv-text-center">
        <img style="width: 100%;" src="{{lastHangBoardPhoto}}">
      </ion-item>

    <ion-list>    
    
    <h5>화면과 같이 등록됩니다.</h5>
    <div ng-if="false">
    FILE CCTV=>[{{CCTV_IMAGE_BINARY_DATA}}]<br /> <br />
    FILE NOTICE=>[{{NOTICE_IMAGE_BINARY_DATA}}]
    </div>
    <div class="button-bar">
      <a class="button button-positive" ng-click="registerButton2Clicked(); registerUpload();">등록</a>
      <a class="button button-light" ng-click="cancellButton2Clicked()">취소</a>
    </div>
  </ion-content>
</ion-view>