<ion-view view-title="CCTV 등록 확인용 화면">
  <ion-content>
    <ion-list>   
    
      <ion-item class="item-thumbnail-left">
        <!-- <img src="{{lastCctvPhoto}}"> -->
		
		cctv image= url :: {{cctvReportingInfo.cctvImage}}
      </ion-item>
      
      <ion-item class="item-divider">세부정보</ion-item>
      <ion-item>
        <p>목적</p>
        <h2 ng-repeat="p in purposeForReport" ng-show="p.checked">{{p.text}}</h2>
      </ion-item>

      <ion-item>
        <p>주소</p>
        <h2>{{"주소가 들어갈 자리다아"}}</h2>
      </ion-item>

      <ion-item class="item-divider">안내판 내용</ion-item>
      <ion-item class="item-thumbnail-left">
        <!-- <img src="{{lastHangBoardPhoto}}"> -->
      </ion-item>

    <ion-list>    
    
    <h5>화면과 같이 등록됩니다.</h5>
    <form action="http://147.46.215.152:8099/cctv" method="post" enctype="multipart/form-data" ng-controller="confirmReportCtrl">
      FILE CCTV=>[{{CCTV_IMAGE_BINARY_DATA}}]
      FILE NOTICE=>[{{CCTV_IMAGE_BINARY_DATA}}]
      <div id="등록 정보들">
        latitude :<input type="number" name="latitude" value={{cctvReportingInfo.latitude}}><br>
        longitude :<input type="number" name="longitude" value={{cctvReportingInfo.longitude}}><br>
        purpose :<input type="string" name="purpose" ng-repeat="item in purposeForReport" ng-model="item.checked"><br>
        cctvImage :<input type="file" name="cctvImage" value={{cctvReportingInfo.cctvImage}} style="width:128px;height:128px;"><br>
        noticeImage :<input type="file" name="noticeImage" value={{cctvReportingInfo.noticeImage}} style="width:128px;height:128px;"><br>
        userId :<input type="string" name="userId" value={{cctvReportingInfo.userId}}><br>
        <input type="submit" value="Submit">
      </div>
      <div class="button-bar">
        <a class="button button-positive" ng-click="registerButton2Clicked()">등록</a>
        <a class="button button-light" ng-click="cancellButton2Clicked()">취소</a>
      </div>
    </form>
  </ion-content>
</ion-view>