<ion-view title="설정">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="https://pixabay.com/static/uploads/photo/2014/04/02/10/25/man-303792_640.png">
                <h2>Anonymous</h2>
                <p>SocialCoding</p>
            </ion-item>
            
            <!-- 개발용 기능 활성화 / 최종 배포시에는 나오지 않아야 한다 -->
            <ion-toggle toggle-class="toggle-positive" ng-if="soco.config.isDevelOptionEnabled" ng-model="soco.config.isDevelModeVisible">
                개발자 옵션
            </ion-toggle>
            
            <ion-checkbox>CheckBox</ion-checkbox>

            <ion-radio>Radio</ion-radio>
            
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            
            <label class="item item-select">
                <span class="input-label">Input</span>
                <select></select>
            </label>
            
            <ion-item class="item-divider">Item</ion-item>
            
            <ion-item>Item 1</ion-item>
            
            <ion-item>Item 2</ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>


