<ion-view title="설정">
    <ion-content padding="true" class="has-header">
        <ion-list>
            
            <!-- 개발용 기능 활성화 / 최종 배포시에는 나오지 않아야 한다 -->
            
            <ion-toggle toggle-class="toggle-positive"
                ng-if="soc.config.isDevelOptionEnabled" 
                ng-model="soc.config.isDevelModeVisible"
                ng-change="soc.config.onChangeDevelModeVisible()">
                개발자 옵션 사용
            </ion-toggle>
            <ion-item menu-close href="#/app/developtions"
                ng-click=""
                ng-show="soc.config.isDevelModeVisible">
                개발자 옵션 세부설정
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>


