<ion-view view-title="개발자용">
  <ion-content>
    <h4>developer page</h4>
    

    <div><button class="button button-stable button-block" ng-click="test_button1_click()">
      {{test_button1_text}}
    </button></div>  

    <ul>
      <li ng-repeat="x in cctvs">
        ID: {{ x.cctvId  }} , Image: {{ x.cctvImage }}
      </li>
    </ul>

    <textarea name="develLog" id="devel_log" readonly="readonly">
      {{ console_text }}
    </textarea>
    <button class="button button-stable" ng-click="applog.clear()">
      로그 삭제
    </button>
    
    <button class="button button-stable" ng-click="update_apk('apk')">
      앱 업데이트(main)
    </button>

    <button class="button button-stable" ng-click="update_apk('kyshin')">
      앱 업데이트(kyshin)
    </button>

    <button class="button button-stable" ng-click="update_apk('mjong')">
      앱 업데이트(mjong)
    </button>

    <button class="button button-stable" ng-click="update_apk('clubsandwich')">
      앱 업데이트(clubsandwich)
    </button>

    <button class="button button-stable" ng-click="check_installed()">
      {{ app_installed }}
    </button>

    <button class="button button-stable" ng-click="uninstall_apk()">
      앱 제거
    </button>

    <button class="button button-stable" 
      ng-click="open_web('http://www.geumcheon.go.kr/program/mapstatus/mapPopup.jsp?menuID=001003001&mapid=31')">
      금천구청
    </button>

    <button class="button button-stable" 
      ng-click="open_web('https://goo.gl/5cKC6I')">
      프로토타입
    </button>

  </ion-content>
</ion-view>