<ion-view view-title="지도보기">
  <ion-content>
    <h3>지도보기 화면</h3></p>
  </ion-content>
        <ion-nav-buttons side="right">
        <button onclick = "getLocation()">My location</button>
  </ion-nav-buttons>
  
  <p id="demo"></p>

  <script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude;	
  }
  </script>

</ion-view>
