<head>
        <link href="css/override-ionic.css" rel="stylesheet">
</head>

<ion-view view-title="">

    <!-- 주소검색을 올리기 위해 다시 NavBar 다시 추가함 -->
    <!-- 레이아웃 정리 필요함 -->
    <ion-nav-bar class="bg-common-app-color">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: white;"></button>
            <!-- Putting a return between the buttons causes them to be stacked on Android 4.4.2 -->
        </ion-nav-buttons>
        <ion-nav-buttons side="primary">
            <label class="item-input">
                <!-- input type="search" -->
                <!-- ng-model: input 에서 ng-model은 객체안의 객체가 아니면 작동하지 않음 -->
                <input type="search" placeholder="주소 검색" class="cctv-map-searchbar" ng-model="search.address" ng-keypress="search.keyEvent($event)" id="searchInputBox" ng-click="search.address = ''">
            </label>
            <a class="button button-icon ion-search" ng-class="{true : 'cctv-map-searchbar-active', false: 'cctv-map-searchbar-inactive'}[search.address.length > 0]" ng-click="search.moveAddress()"></a>
        </ion-nav-buttons>


    </ion-nav-bar>

    <ion-content scroll="false" id="contentArea" ng-click="search.blur(); initCctvSelect();">

        <!--<ion-content scroll="false" id="contentArea" ng-click="search.blur(); initCctvSelect();">-->
        <!--<div class="row">
            <div class="col col-70 col-offset-10">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Search">
                    </label>
                    <button class="button button-clear">
                        Cancel
                    </button>
                </div>
            </div>-->

        <!-- 이 화면에서 독립적인 CSS 적용을 위해 id="cctvMaps" 를 적용함 -->
        <!-- 다른 화면에서 지도를 사용할 필요가 있다면 별도 id를 사용할 것 -->
        <div id="cctvMaps" data-tap-disabled="true">
            <!-- 지도 -->
            <div class="scroll-content" id="map" data-tap-disabled="true" ng-click="search.blur()"></div>

            <!-- 위치찾기 버튼 -->
            <!-- 지도상의 다른 컨트롤들과 동일한 방식으로 변경 -->
            <div class="watchPositionControl watchPositionFix" ng-click="watch.toggle()" ng-class="{true : 'watchPositionActive' , false : ''}[watch.running]">
                <span><i class="icon ion-pinpoint" style="font-size : 23px;"></i></span>
            </div>

            <!-- 확대/축소 컨트롤은 우선 구글지도 기본 버튼을 사용 -->

            <!-- 공공, 민간 필터링 div 입니다 -->
            <div class="filterControl publicFilterPositionFix button-left-radius" ng-class="{true : '' , false : 'filterPublicInActive'}[cctvMap.filterHide.PUBLIC]" ng-click="cctvMap.toggleFilter('PUBLIC')">
                <span>공공</span>
            </div>
            <div class="filterControl privateFilterPositionFix button-right-radius" ng-class="{true : '' , false : 'filterPrivateInActive'}[cctvMap.filterHide.PRIVATE]" ng-click="cctvMap.toggleFilter('PRIVATE')">
                <span>민간</span>
            </div>



            <div ng-if="soc.config.isDevelModeVisible">
                <button style="position:absolute;top:100px;right:10px" ng-click="testButtonClick()">"Test"</button>
            </div>


            <div class="cctv-info-footer" ng-if="cctvSelected !== null && report.getStatus() === report.statusNone">
                <a ng-click="showCctvDetail()" class="cctv-public"  ng-if="cctvSelected.cctv.source === 'PUBLIC'"> <strong>공공CCTV &nbsp; &nbsp; {{cctvSelected.cctv.purpose}}</strong></a>
                <a ng-click="showCctvDetail()" class="cctv-private" ng-if="cctvSelected.cctv.source === 'PRIVATE'"><strong>민간CCTV</strong></a>
                    <div class="desc">
                        <img src="" alt="">
                        <span class="address">{{cctvSelected.cctv.address}}</span>
                        
                    </div>
                </div>
            </div>
            
        <!-- 등록/foundPosition -->
        <div class="bar bar-subfooter" style="margin: 0px;" ng-show="report.getStatus() == report.statusFoundPosition">
            <div class="row" style="padding: 0px;">
                <div class="col col-100 cctv-text-center" style="margin: 0px;">
                    <strong>현재 위치에 CCTV를 등록하시겠습니까?</strong>
                </div>
            </div>
        </div>
        <div class="bar bar-footer" ng-show="report.getStatus() == report.statusFoundPosition">
            <div class="col col-50" style="padding: 0px;">
                <button class="button button-full button-positive" style="margin: 0px;" ng-click="report.startReport()">등록</button>
            </div>
            <div class="col col-50" style="padding: 0px;">
                <button class="button button-full button-assertive" style="margin: 0px;" ng-click="report.endReport()">취소</button>
            </div>
        </div>

        <!-- 등록/findPosition -->
        <div class="bar bar-footer" style="margin: 0px;" ng-show="report.getStatus() == report.statusFindPosition">
            <div class="row" style="padding: 0px;">
                <div class="col col-100 cctv-text-center" style="margin: 0px;">
                    <strong>현재 위치를 탐색하는 중</strong>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>