<ion-view view-title="Home">
    <div class="row">
        <div class="col col-100">
            <ion-content scroll="false">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Search">
                    </label>
                    <button class="button button-clear">
                        Cancel
                    </button>
                </div>
                <div id="map" data-tap-disabled="true"></div>
            </ion-content>
            <ion-nav-buttons side="right">
                <!--<button ng-click = "test_func()"> {{ Mylocation }} </button>-->
                <button ng-click="centerOnMe()">My location</button>
            </ion-nav-buttons>

            <!--재조회 버튼-->
            <ion-nav-buttons side="secondary">
                <button ng-click="centerOnMe()">Reload</button>
            </ion-nav-buttons>

            <!--등록을 위한 코드임-->
            <div id="Confirm location of report" ng-show="reportClicked">
                <div id="Confirm location message" class="bar bar-subfooter">
                    <h4>현재 위치에 cctv를 등록하시겠습니까?</h4>
                </div>
                <div id="등록/취소 버튼" class="bar bar-footer" ng-controller="confirmReportCtrl">
                    <div class="button-bar">
                        <a class="button button-positive" href="#/app/takePicture">등록</a>
                        <a class="button button-light" ng-click="reportCancelled()">취소</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-view>
