
<ion-view view-title="지도보기">
    <ion-content scroll="false">
        <!--<div id="map2" data-tap-disabled="true"></div>-->
        <div id="map2" data-tap-disabled="true">
        </div>
        <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
        <div class="custom_zoomcontrol radius_border"> 
            <span ng-click="zoomIn()"><img src="http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>  
            <span ng-click="zoomOut()"><img src="http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
        </div>
        
    </ion-content>
</ion-view>



