
<ion-view view-title="지도Test" on-select="soc.mapTestOnSelect()" 
            on-deselect="soc.mapTestOnDeselect()">
    <ion-nav-bar>
        <ion-nav-buttons side="right">
            <!-- Putting a return between the buttons causes them to be stacked on Android 4.4.2 -->
            <button class="button" ng-click="changeMap()">{{soc.mapProviderText}}</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" drag-content="false">
        <div id="map2" data-tap-disabled="true">
        </div>
        <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
        <div class="custom_zoomcontrol radius_border"> 
            <span ng-click="zoomIn()"><img src="http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>  
            <span ng-click="zoomOut()"><img src="http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
        </div>
        <div class="custom_mapinfocontrol radius_border" ng-if="soc.config.isDevelModeVisible">
            <b>[mapInfo]</b><br>
            <b>zoomLevel:</b> {{ mapInfoZoomLevel }}<br>
            <b>center:</b> {{ mapInfoCenter }}<br>
            <b>southWest:</b> {{ mapInfoSW }}<br>
            <b>northEast:</b> {{ mapInfoNE }}<br>
            <br>
            <b>[request/responseInfo]</b><br>
            <b>requsetCount(누적): </b> {{ requestInfoCount }}<br>
            <b>center:</b> {{ requestInfoCenter }}<br>
            <b>southWest:</b> {{ requestInfoSW }}<br>
            <b>northEast:</b> {{ requestInfoNE }}<br>
            <b>responseCctvCount:</b> {{ responseInfoCount }}<br> 
            <br>
            <b>(주의)</b> 수신한 CCTV 개수는 화면에 보이는 것보다 많습니다<br>
            
        </div>
        
        
    </ion-content>
</ion-view>



