<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <!-- Enable Side menu button and Back button start -->
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- Enable Side menu button and Back button end -->

    <!-- Main Contents start -->
    <ion-nav-view name="menuContent"></ion-nav-view>
    <!-- Main Contents end -->
  </ion-side-menu-content>

  <!-- Side Menu Contents start -->
  <ion-side-menu side="left">
    <ion-content>
      <!-- login area -->
      <div class="row">
        <div class="col col-100" ng-click="login()">
          <div class="big-login-photo-area">
            <!-- img src="img/ionic.png"><br /-->
            <img ng-src="{{user_profile}}"/><br />
            <span>{{user_email}}</span>
          </div>
        </div>
      </div>
      <!-- misc area -->

      <div class="row">
        <div class="col">
          <ion-list>
            <ion-item menu-close class="item item-icon-left" href="#/app/map" ng-click="nowReportUnclicked()">
              <i class="icon ion-university"></i>
              <span>CCTV 지도</span>
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#/app/map" ng-click="locationInfoConfirm()">
              <i class="icon ion-speakerphone"></i>
              <span>CCTV 위치신고</span>
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#/app/cctvlaw" ng-click="">
              <i class="icon ion-university"></i>
              <span>CCTV 관련법</span>
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#" ng-click="">
              <i class="icon ion-android-wifi"></i>
              <span>로그인</span>
            </ion-item>
            <div class="item item-divider">
              <span>&nbsp;</span>
            </div>
            <ion-item menu-close class="item item-icon-left" href="#/app/config" ng-click="nowReportUnclicked()">
              <i class="icon ion-gear-b"></i>
              <span>설정</span>
            </ion-item>

          </ion-list>
        </div>
      </div>
      <!-- debug menu -->
      <div class="row" ng-if="soc.config.isDevelModeVisible">
        <div class="col">
          <ion-list>
            <ion-list>
              <div class="item item-divider">
                <span>개발자용</span>
              </div>

              <ion-item menu-close class="item item-icon-left" href="#/app/mapTest2">
                <i class="icon ion-map"></i>
                GoogleMap Test
              </ion-item>              
              <ion-item menu-close class="item item-icon-left" href="#/app/map" ng-click="nowReportUnclicked()">
                <i class="icon ion-map"></i>
                Home
              </ion-item>
              <ion-item menu-close ng-click="login()">
                Login
              </ion-item>
              <ion-item menu-close href="#/app/search" ng-show="soc.config.isDevelModeVisible">
                Search
              </ion-item>
              <ion-item menu-close href="#/app/devel">
                개발자용
              </ion-item>
              <ion-item menu-close href="#/app/devel2" ng-show="soc.config.isDevelModeVisible">
                개발자용2
              </ion-item>
              <ion-item menu-close href="#/app/devlog" ng-show="soc.config.isDevelModeVisible">
                Log
              </ion-item>
              <ion-item menu-close href="#/app/bonhunTest" ng-show="false">
                Bonhun Test
              </ion-item>
              <ion-item menu-close href="#/app/cctvApiTest" ng-show="soc.config.isDevelModeVisible">
                CCTV API Test
              </ion-item>
              <ion-item menu-close href="#/app/oauthApiTest" ng-show="soc.config.isDevelModeVisible">
                Oauth API Test
              </ion-item>
              <ion-item menu-close href="#/app/map" ng-click="locationInfoConfirm()">
                신고용
              </ion-item>
              <ion-item menu-close href="#/app/backButtonTest" ng-show="soc.config.isDevelModeVisible">
                backButtonTest
              </ion-item>
              <ion-item menu-close class="item item-icon-left" href="#/app/mapTest">
                <i class="icon ion-map"></i>
                지도Test
              </ion-item>
              <ion-item menu-close class="item item-icon-left" href="#/app/config">
                <i class="icon ion-gear-a"></i>
                설정
              </ion-item>

              <div class="button-bar">
                <button class="button button-stable button-block button-small">방범용</button>
                <button class="button button-stable button-block button-small">교통용</button>
                <button class="button button-calm button-block button-small">몰라용</button>
              </div>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <!--
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item item-icon-left" href="#/app/map" ng-click="nowReportUnclicked()">
          <i class="icon ion-map"></i>
          Home
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search" ng-show="soc.config.isDevelModeVisible">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/playlists" ng-show="soc.config.isDevelModeVisible">
          Playlists
        </ion-item>
        <ion-item menu-close href="#/app/devel">
          개발자용
        </ion-item>
        <ion-item menu-close href="#/app/devel2" ng-show="soc.config.isDevelModeVisible">
          개발자용2
        </ion-item>
        <ion-item menu-close href="#/app/devlog" ng-show="soc.config.isDevelModeVisible">
          Log
        </ion-item>
        <ion-item menu-close href="#/app/bonhunTest" ng-show="false">
          Bonhun Test
        </ion-item>
        <ion-item menu-close href="#/app/cctvApiTest" ng-show="soc.config.isDevelModeVisible">
          CCTV API Test
        </ion-item>
        <ion-item menu-close href="#/app/oauthApiTest" ng-show="soc.config.isDevelModeVisible">
          Oauth API Test
        </ion-item>
        <ion-item menu-close href="#/app/map" ng-click="locationInfoConfirm()">
          신고용
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/mapTest">
          <i class="icon ion-map"></i>
          지도Test
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/config">
          <i class="icon ion-gear-a"></i>
          설정
        </ion-item>

        <div class="button-bar">
            <button class="button button-stable button-block button-small">방범용</button>
            <button class="button button-stable button-block button-small">교통용</button>
            <button class="button button-calm button-block button-small">몰라용</button>
        </div>
      </ion-list>
    </ion-content>
    -->
  </ion-side-menu>
  <!-- Side Menu Contents start -->
</ion-side-menus>
