<ion-view view-title="Oauth Test">
  <ion-content>
    <style type="text/css">
    table, td {
      border:1px solid black;
    }
    </style>
    <div>
      <button ng-click="facebook_login()">facebook login</button>
    </div>
    <div>
      <table>
        <tr>
          <td>name</td><td>email</td>
        </tr>
        <tr>
          <td>{{facebook_profile.name}}</td><td>{{facebook_profile.email}}</td>
        </tr>
      </table>
    </div>
    <div>
      <span>{{back_log}}</span>
    </div>
  </ion-content>
</ion-view>