<ion-view view-title="CCTV 등록">
  <ion-content has-bouncing="true">
    <ion-list>

    <ion-item class="item-divider">CCTV 사진</ion-item> 
    <div class="row">
      <div class="col">

        <div class="list card">
          <div class="item item-image cctv-image-thumb">
            <img ng-show="report.cctvImage" class="cctv-image-thumb-main" ng-src="{{report.cctvImage}}">
            <img ng-show="report.cctvImage==null" src="img/cctvExample.jpg" class="cctv-image-thumb-back">
            <div ng-show="report.cctvImage==null" class="cctv-image-thumb-front item-text-wrap cctv-text-center">
              CCTV 사진을<br>촬영해주세요
            </div>
          </div>
          <a class="item cctv-text-center positive cctv-report-yes" ng-click="report.takeCctvPhoto()">
            <i class="icon button-icon ion-camera"></i>
          </a>
        </div>
      </div>
      
      <div class="col">
      </div>
    </div>
    <ion-item class="item-divider">안내판 사진</ion-item>
    <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-image cctv-image-thumb">
            <img ng-show="report.noticeImage" class="cctv-image-thumb-main" ng-src="{{report.noticeImage}}">
            <div><img ng-show="report.noticeImage==null" src="img/noticeExample.jpg" class="cctv-image-thumb-back"></div>
            <div ng-show="report.noticeImage==null" class="cctv-image-thumb-front item-text-wrap cctv-text-center" ng-class="report.noticePhotoProcess&&!report.noticeImage?'button-outline':''">
              CCTV 근처<br>안내판을<br>촬영해주세요
            </div>
          </div>
          <a class="item cctv-text-center positive notice-report-yes" ng-click="report.takeNoticePhoto()">
            <i class="icon button-icon ion-camera"></i>
          </a>
        </div>        

    
      </div>        
      <div class="col">
        <div class="list card">
          <div class="cctv-image-thumb-front item-text-wrap cctv-text-center cctv-image-thumb" ng-class="report.noticeImage?'button-outline':''">
            CCTV 근처에<br>안내판이<br>없습니다
          </div>
          <a class="item cctv-text-center assertive notice-report-no" ng-click="report.noticeNoExist()">
            <i class="icon button-icon ion-close-circled"></i>
          </a>
        </div>        
      </div>
    </div>

      <ion-item>
        <p>주소</p>
        <h2>{{currentAddress}}</h2>
      </ion-item>
    
    </ion-list>
    <p></p>

    <div class="button-bar">
      <a class="button button-positive" ng-click="report.sendReport()">등록</a>
      <a class="button button-light" ng-click="report.endReport()">취소</a>
    </div>
  </ion-content>
</ion-view>