<ion-view view-title="아래 사진과 비슷한 크기로 cctv를 찍어주세요">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-100">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col col-100 cctv-text-center">
                        <img ng-src="{{lastCctvPhoto}}" style="max-width: 100%; min-height: 500px;"/>
                    </div>
                </div>
                <div class="bar bar-subfooter" style="padding: 0px;">
                    <div class="row" ng-show="cctvPhotoTaken" >
                        <div class="col col-100 cctv-text-center">
                            <strong>다음과 같은 사진으로 등록됩니다</strong>
                        </div>
                    </div>
                </div>
                <div class="bar bar-footer" style="padding: 0px; margin: 0px;">
                    <div class="row" ng-hide="cctvPhotoTaken">
                        <div class="col col-100 cctv-text-center" style="padding: 0px;">
                            <button class="button button-full button-positive" style="margin: 0px;" ng-click="getPhoto()">
                                <i class="icon ion-camera" style="font-size: 1.3em !important;"></i>
                            </button>
                            <a ng-hide="true" ng-click="photoLocation()" class="button button-block button-primary">사진의 위치는?</a>
                        </div>
                    </div>
                    <div class="row" ng-show="cctvPhotoTaken">
                        <div class="col col-100 cctv-text-center">
                            <button class="button button-full button-balanced" style="margin: 0px;" ng-click="hasHangBoard()">
                                <i class="icon ion-checkmark"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
